<div class="thumbnail">
    <div class="caption">
        <h4 class="text-center">{{ show.name }}</h4>
        <ul>
            <li>See on <a href="http://epguides.com/{{ show.epguideName }}">Epguides</a></li>
            <li>See on <a href="http://www.imdb.com/title/{{ show.imdb }}">IMDB</a></li>
            <li>Add to watchlist <a href="#">here</a></li>
        </ul>

    </div>
</div>