{% extends '/home.twig' %}

{% block content %}
    <div class="row">
    {% for idx, show in followed %}
            <div class="col-md-4 col-sm-6">
                {% include '/partials/additem.twig' with {show : show} %}
            </div>
            {% if(idx+1) % 3 == 0 %}
                </div>
                <div class="row">
            {% endif %}

    {% endfor %}
    </div>
{% endblock %}

